.elements{
  width:880px;
  height:744px;
  margin-top:129px;
  margin-left:200px;
  border-radius:10px 10px 0px 0px;
  border:1px;
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  grid-template-rows:repeat(2, 1fr);
  grid-gap:10px;
  grid-template-areas:
  "yosemite lake mountains"
  "latemar vanoise lago";
}

.elements__card{
  width:282px;
  height:361px;
  border-radius:10px;
}

.elements__card-yosemite{
  grid-area:yosemite;
  margin:auto;
}

.elements__card-lake{
  grid-area:lake;
  margin:auto;
}

.elements__card-mountains{
  grid-area:mountains;
  margin:auto;
}

.elements__card-latemar{
  grid-area:latemar;
  margin:auto;
}

.elements__card-vanoise{
  grid-area:vanoise;
  margin:auto;
}

.elements__card-lago{
  grid-area:lago;
  margin:auto;
}

.elements__card-image{
  width:282px;
  height:282px;
  border-radius:10px;
}

.elements__card-description{
  width:282px;
  height:60px;
  background-color:white;
  border-radius:0px 0px 10px 10px;
  display:flex;
}

.elements__card-title{
  width:246px;
  height:23px;
  color:#000000;
  background-color:white;
  font-family:'Inter';
  font-weight:900px;
  font-size:24px;
  line-height:29px;
  align-items:center;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.elements__card-heart{
  background-color:white;
}

.elements__card-heart:hover{
  background-color:lightslategray;
  cursor:pointer;
}
@media screen and (min-width:320px) and (max-width:1279px) {
  .elements{
    width:282px;
    height:2268px;
    margin-top:30px;
    margin-left:19px;
    grid-template-columns:repeat(1, 1fr);
    grid-template-rows:repeat(6, 1fr);
    grid-template-areas:
    "yosemite"
    "lake"
    "mountains"
    "latemar"
    "vanoise"
    "lago";
  }

  .elements__card-yosemite{
    margin:auto;
    grid-area:yosemite;
    width:282px;
    height:361px;
  }

  .elements__card-lake{
    margin:auto;
    grid-area:lake;
    width:282px;
    height:361px;
  }

  .elements__card-mountains{
    margin:auto;
    grid-area:mountains;
    width:282px;
    height:361px;
  }

  .elements__card-latemar{
    margin:auto;
    grid-area:latemar;
    width:282px;
    height:361px;
  }

  .elements__card-vanoise{
    margin:auto;
    grid-area:vanoise;
    width:282px;
    height:361px;
  }

  .elements__card-lago{
    margin:auto;
    grid-area:lago;
    width:282px;
    height:361px;
  }
}