.elements{
  width:100%;
  max-width:880px;
  height:auto;
  margin-top:129px;
  margin-left:auto;
  margin-right:auto;
  border-radius:10px 10px 0px 0px;
  border:1px;
  display:flex;
  flex-wrap:wrap;
  gap:10px;
}

.elements__card{
  width:100%;
  max-width:282px;
  height:auto;
  border-radius:10px;
  margin:auto;
  background-color:white;
}


.elements__card-image{
  width:100%;
  max-width: 282px;
  border-radius:10px;
}

.elements__card-description{
  width:100%;
  max-width:282px;
  height:auto;
  background-color:white;
  border-radius:0px 0px 10px 10px;
  display:flex;
  justify-content: space-between;
  align-items:center;
}

.elements__card-title{
  width:100%;
  max-width:246px;
  color:#000000;
  background-color:white;
  font-family:'Inter';
  font-weight:900;
  font-size:24px;
  line-height:29px;
  align-items:center;
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
}

.elements__card-heart{
  background-color:white;
  border:none;
  padding:0;
  margin-right:10px;
}

.elements__card-heart:hover{
  background-color:lightslategray;
  cursor:pointer;
}
@media screen and (max-width:320px){
  .elements{
    width:100%;
    max-width:282px;
    height:auto;
    margin-top:30px;
    margin-left:auto;
    margin-right:auto;
  }

  .elements__card{
    width:100%;
    height:auto;
    border-radius:10px;
    margin:auto;
  }
}