.header{
  width:880px;
  height:74px;
  margin-top:45px;
  margin-left:200px;
}

.header__title{
  margin-left:200px;
  margin-top:45px;
}

@media screen and (min-width:320px) and (max-width:1279px) {
  .header{
    width:320px;
    height:56px;
    margin-top:28px;
  }

  .header__title{
    margin-left:27px;
    margin-top:28px;
  }
}