.profile{
  width:880px;
  margin:40px auto 0;
  color:#FFFFFF;
  display:flex;
  align-items:center;
}


.profile__avatar{
  width:120px;
  height:120px;
  margin-right:20px;
}

.profile__info{
  margin:0;
  margin-right:auto;
}

.profile__title{
  display:flex;
  align-items:center;
}
.profile__name{
  margin:0;
  font-family:'Inter';
  font-weight:500;
  font-size:42px;
  line-height: 48px;
}

.profile__about{
  margin:0;
  margin-top:16px;
  font-family:'Inter';
  font-weight:400;
  font-size:18px;
  line-height:22px;
}

.profile__edit-button{
  color:#FFFFFF;
  margin-left:20px;
}

.profile__add-button{
  margin-right:auto;
}

@media screen and (max-width:320px){
  .profile{
    width:282px;
    height:286px;
    margin-top:42px;
    margin-left:19px;
  }

  .profile__avatar{
    margin-left:80px;
  }

  .profile__info{
    width:282px;
    height:50px;
    margin-top:200px;
    margin-left:-308px;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows:repeat(2,1fr);
    grid-template-areas:
    "name button"
    "about .";
  }

  .profile__name{
    width:196px;
    height:22px;
    font-size:22px;
    line-height:27px;
    margin:auto;
    grid-area:name;
  }

  .profile__about{
    margin:auto;
    width:282px;
    height:14px;
    font-size:14px;
    line-height:17px;
    margin-left:225px;
    grid-area:about;
  }

  .profile__edit-button{
    margin:auto;
    grid-area:button;
    width:18px;
    height:18px;
    margin-left:-150px;
    margin-top:12px;
  }

  .profile__edit-button:hover{
    color:lightslategray;
    cursor:pointer;
  }

  .profile__add-button{
    margin:auto;
    margin-top:257px;
    margin-left:-338px;
    width:282px;
    height:50px;

  }
}
